@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/content/content.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/places/places.css');
@import url('../blocks/card/card.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_is-animated/popup_is-animated.css');
@import url('../blocks/popup/_is-opened/popup_is-opened.css');
/*Импортируем на уровень выше*/

/* для ошибок валидации */
.popup__error {
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  min-height: 15px;
  margin-top: 5px;
  display: block;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup__error_visible {
  opacity: 1;
}

.popup__input_type_error {
  border-bottom: 1px solid #FF0000 !important;
}

.popup__button_disabled {
  background-color: #E5E5E5 !important;
  color: #B8B8B8 !important;
  cursor: not-allowed;
}